.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background 200;
}

.menu-item:hover {
  background-color: whitesmoke;
  cursor: pointer;
}
