.TeamMember {
    display: flex;
    flex-direction: row;
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.TeamMember-email {
    margin-right: 20px;
}

.TeamMember-remove-button-image {
    width: 20px;
}