.NavBar {
    display: flex;
    align-items: center;
    flex-flow: row;
    background-color: white;
    height: 50px;
    padding: 5px;
    border-bottom: 1px solid lightgrey;
}

.NavBar-left {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
}

.NavBar-hamburguer {
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.NavBar-home-link {

}

.NavBar-logo {
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
}

.NavBar-right {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 100%;
    width: 50%;
}

.NavBar-right-settings-button-image {
    height: 40px;
}