.Root {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.Root-belowNavBar {
    background-color: white;
    display: flex;
    flex-flow: row;
    flex: 1 1 auto;
}

.Root-content {
    max-width: 1600px;
    padding: 50px;
    padding-left: 120px;
    margin-left: auto;
    margin-right: auto;
}