.Root {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.Root-belowNavBar {
    background-color: white;
    display: flex;
    flex-flow: row;
    flex: 1 1 auto;
}

.Root-content {
    max-width: 1600px;
    padding: 50px;
    margin-top: 61px;
    padding: 40px;
    padding-left: 110px;
    margin-left: auto;
    margin-right: auto;
}

.individual {
    border: 1px solid #b6b6b6;
    border-radius: 5px;
    padding: 0px;
    text-align: left;
    margin-bottom: 30px;
    display: flex;
}

.individual-left {
    flex: 2;
    padding: 30px;
}

.individual-middle {
    flex: 0 0 1px;
    background-color: #b6b6b6;
    width: 1px;
}

.individual-right {
    background-color: whitesmoke;
    flex: 1;
}

.centered {
    text-align: center;
    vertical-align: middle;
    margin: auto;
}

.multi-input {
    display: flex;
    flex-direction: column;
}

.multi-input-full {
    padding: 30px;
    border-bottom: 1px solid #b6b6b6;
    margin: 0px;
}

.multi-input-half {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}

.multi-input-sep {
    flex: 0 0 1px;
    background-color: #b6b6b6;
    height: 1px;
}

.multi-input-half-left {
    padding: 20px;
    flex: 1;
    margin: auto;
}

.multi-input-half-middle {
    flex: 0 0 1px;
    background-color: #b6b6b6;
    width: 1px;
}

.multi-input-half-right {
    padding: 20px;
    flex: 1;
    background-color: whitesmoke;
}

.multi-input-button {
    padding: 5px 20px;
}

.multi-input-error {
    color: red;
}

.multi-input-success {
    color: green;
}

.multi-input-messages {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 2px;
    display: flex;
    flex-direction: column;
}

input {
    font-size: 16px;
    padding: 10px;
    border: 1px solid #b6b6b6;
    border-radius: 5px;
}

h1 {
    font-family: Verdana;
    font-size: 40px;
    font-weight: 300;
}

h2 {
    font-family: Verdana;
    font-size: 30px;
    font-weight: 300;
}

h3 {
    font-family: Verdana;
    font-size: 20px;
    font-weight: 300;
}

.title {
    text-align: left;
}

.link {
    text-decoration: underline;
}