.LoginScreen {
    display: flex;
    flex-flow: row;
    height: 100vh;
    width: 100vw;
    background-color: aquamarine;
}

.LoginScreen-left {
    margin-top: auto;
    margin-bottom: auto;
    width: 50%;
}

.LoginScreen-left-icon {
    height: 400px;
}

.LoginScreen-middle {
    width: 1px;
    height: 60%;
    background-color: white;
    margin-top: auto;
    margin-bottom: auto;
}

.LoginScreen-right {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-flow: column;
    width: 50%;
}

.LoginScreen-right-icon {
    height: 200px;
    margin-bottom: 40px;
}

.LoginScreen-right-login-form {
    display: flex;
    flex-flow: column;
    width: 70%;
    margin: auto;
}

.LoginScreen-right-login-form-error-message {
    background-color: #fce6e6;
    margin: 10px;
    padding: 10px;
    border-width: 1px;
    border-color: #a83030;
    border-style: solid;
    border-radius: 5px;
    color: #a83030;
    text-align: left;
}

.LoginScreen-right-login-form-input {
    margin: 10px;
    height: 20px;
    background-color: #f1f1f1;
    border-width: 0px;
    padding: 15px;
    border-radius: 5px;
}

.LoginScreen-right-login-form-input:focus {
    background-color: #ddd;
    outline: none;
}

.LoginScreen-right-login-form-button {
    width: 40%;
    height: 40px;
    margin: auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.9;
    margin-top: 30px;
}

.LoginScreen-right-login-form-button:hover {
    opacity: 1;
}

.LoginScreen-right-signup {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.LoginScreen-right-signup-button {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}