.SignupScreen {
    display: flex;
    flex-flow: row;
    height: 100vh;
    width: 100vw;
    background-color: aquamarine;
}

.SignupScreen-left {
    margin-top: auto;
    margin-bottom: auto;
    width: 50%;
}

.SignupScreen-left-icon {
    height: 400px;
}

.SignupScreen-middle {
    width: 1px;
    height: 60%;
    background-color: white;
    margin-top: auto;
    margin-bottom: auto;
}

.SignupScreen-right {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-flow: column;
    width: 50%;
}

.SignupScreen-right-icon {
    height: 200px;
    margin-bottom: 40px;
}

.SignupScreen-right-signup-form {
    display: flex;
    flex-flow: column;
    width: 70%;
    margin: auto;
}

.SignupScreen-right-signup-form-input {
    margin: 10px;
    height: 20px;
    background-color: #f1f1f1;
    border-width: 0px;
    padding: 15px;
    border-radius: 5px;
}

.SignupScreen-right-signup-form-input:focus {
    background-color: #ddd;
    outline: none;
}

.SignupScreen-right-signup-form-button {
    width: 40%;
    height: 40px;
    margin: auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.9;
    margin-top: 30px;
}

.SignupScreen-right-signup-form-button:hover {
    opacity: 1;
}